<?xml version="1.0" encoding="UTF-8"?>
<widget>
	<zonetype>VERTICAL</zonetype>
	<description>Generates a list of the most popular categories, ordered by hitcount, for the vertical areas of the template.</description>
	<works_with>4.0</works_with>
	<setting>
		<name>TITLE</name>
		<identifier>TITLE</identifier>
		<value>Popular Categories</value>
		<allowed></allowed>
		<info>This title shows at top of the widget's generated content.</info>
	</setting>
	<setting>
		<name>NUMBER OF CATEGORIES</name>
		<identifier>NO_OF_CATEGORIES</identifier>
		<value>5</value>
		<allowed></allowed>
		<info>Fill in how many of the popular categories should be listed.</info>
	</setting>
	<setting>
		<name>CACHE RESULTS</name>
		<identifier>CACHE_RESULTS</identifier>
		<value>No</value>
		<allowed>Yes,No</allowed>
		<info>"Yes" if you want the results to be cached, "No" if not.</info>
	</setting>
	<author>PhpLD</author>
	<author_url>www.phplinkdirectory.com</author_url>
	<version>1.0</version>
</widget>