<?xml version="1.0" encoding="UTF-8"?><widget>	<zonetype>VERTICAL</zonetype>	<description>Shows RSS feed content.</description>	<works_with>4.0</works_with>	<setting>					<name>TITLE</name>						<identifier>TITLE</identifier>						<value></value>						<allowed></allowed>						<info></info>				</setting>		<setting>		<name>FEED URL</name>		<identifier>FEED_URL</identifier>		<value></value>		<allowed></allowed>		<info></info>	</setting>	<setting>		<name>NUMBER OF NEWS</name>		<identifier>NO_OF_NEWS</identifier>		<value>5</value>		<allowed></allowed>		<info>Fill in how many of news should be listed.</info>	</setting>    <setting>        <name>REFRESH RATE</name>        <identifier>REFRESH_RATE</identifier>        <value>3</value>        <allowed>1:1 Hour,3:3 Hours,12:12 Hours,24:1 Day,168:1 Week</allowed>        <info>How oftern feed should be refreshed</info>    </setting>	<author>PhpLD</author>	<author_url>www.phplinkdirectory.com</author_url>	<version>1.0</version></widget>