<?xml version="1.0" encoding="UTF-8"?>
<task>
	<setting>
		<name>Change Status To</name>
		<description>Set new status for Expired Links</description>
		<id>EXPIRED_STATUS</id>
		<available>Pending, Inactive</available>
		<TYPE>EXTERNAL</TYPE>
		<value></value>
	</setting>
	<setting>
		<name>Send Email Notification</name>
		<description>Send Email Notification To Link Owner</description>
		<id>SEND_OWNER_NOTIFICATION</id>
		<available>yes, no</available>
		<TYPE>EXTERNAL</TYPE>
		<value></value>
	</setting>
	<setting>
		<name>Links per Iteration</name>
		<description>Define count of links proceed per iteration</description>
		<id>EXPIRED_LINKS_PER_ITERATION</id>
		<TYPE>EXTERNAL</TYPE>
		<value>10</value>
	</setting>
</task>